Repository mikeleguedes/json-movie-list, pull requests merged in 2023-10, with the labels that each got.

#278 add Dune
  actors/rebecca-ferguson.json
  actors/timothée-chalamet.json
  actors/zendaya.json
  directors/denis-villeneuve.json
  movies/2021/dune.json
Labels: hacktoberfest, classic movies, 2020's movies

#283 Update aamir-khan.json
  actors/aamir-khan.json
Labels: actors

#281 Update christopher-nolan.json
  directors/christopher-nolan.json
Labels: directors

#280 Update anurag-kashyap.json
  directors/anurag-kashyap.json
Labels: actors

#284 Update iron-man.json
  movies/2008/iron-man.json
Labels: 2008's movies

#291 Update the-matrix-revolutions.json
  movies/2003/the-matrix-revolutions.json
Labels: hacktoberfest, bugfix

#290 Update zack-snyder.json
  directors/zack-snyder.json
Labels: hacktoberfest, directors

#289 Update zack-snyder.json
  directors/zack-snyder.json
Labels: hacktoberfest, directors, optimization

#285 Update akshay-kumar.json
  actors/akshay-kumar.json
Labels: actors

#296 add Tenet
  movies/2020/tenet.json
Labels: hacktoberfest, 2020's movies, hacktoberfest-accepted

#298 Created a web scraper for IMDB
  package.json
  scraper/index.js
  scraper/scraper.md
Labels: good first issue, scrapping, optimization, hacktoberfest-accepted

#297 add Malcolm and Marie
  movies/2021/malcolm-and-marie.json
Labels: hacktoberfest, 2020's movies, hacktoberfest-accepted

#305 add director Wong Kar-wai and some of his films
  directors/wong-kar-wai.json
  movies/1994/chungking-express.json
  movies/1995/fallen-angels.json
  movies/1997/happy-together.json
  movies/2000/in-the-mood-for-love.json
  movies/2004/2046.json
Labels: hacktoberfest, directors, hacktoberfest-accepted

#295 Adds There's Something Wrong with the Children
  movies/2023/barbie.json
  movies/2023/m3gan.json
  movies/2023/mission-imipossible-dead-reckoning-part-1.json
  movies/2023/the-exorcist-believer.json
  movies/2023/theres-something-wrong-with-the-children.json
Labels: hacktoberfest, 2023's movies, hacktoberfest-accepted

#301 add Blue Beetle (2023)
  movies/2023/blue-beetle.json
Labels: hacktoberfest, 2023's movies, hacktoberfest-accepted

#286 Update denis-villeneuve.json
  directors/denis-villeneuve.json
Labels: hacktoberfest, directors, hacktoberfest-accepted

#299 add They Cloned Tyrone (2023)
  movies/2023/they-cloned-tyrone.json
Labels: hacktoberfest, 2023's movies, hacktoberfest-accepted

#300 add No Hard Feelings (2023)
  movies/2023/no-hard-feelings.json
Labels: hacktoberfest, 2023's movies, hacktoberfest-accepted

#304 Add Killers of the Flower Moon (2023)
  directors/agnes-varda.json
  movies/2023/killers-of-the-flower-moon.json
Labels: hacktoberfest, directors, 2023's movies, hacktoberfest-accepted
